@font-face {
    font-family: 'Bebas Neue Bold';
    src: url('../fonts/BebasNeueBold.eot');
    src: url('../fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeueBold.woff') format('woff'),
    url('../fonts/BebasNeueBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  };
  
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');