header{
    padding-top: 41.6px;
    height: 100vh;
    background-image: url("../image/header_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    color: #FFFFFF;
    text-align: center;
    ._logo{
      cursor: pointer;
    }
    ._description{
      h1{
        font-family: 'Bebas Neue Bold', sans-serif;
        text-transform: uppercase;
        font-size: 60px;
        line-height: 70px;
        letter-spacing: 5.70937px;
      }
      p{
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
      }
    }
    ._scroll{
      p{
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 11px;
        line-height: 15px;
        letter-spacing: 3.7px;
        text-shadow:  0 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        transition: text-decoration-color 300ms;
        text-decoration: underline 0.15em rgba(255, 255, 255, 0);
        &:hover{
            text-decoration-color: rgba(255, 255, 255, 1);
        }
      }
      margin-bottom: 71px;
    }
    margin-bottom: 25px;
  }